Repository ornikar/vscode-frontend-extension, pull requests merged in 2021-04, with the labels that each got.

#1 feat: init repo [no issue]
  CHANGELOG.md
  README.md
  package.json
  snippets/snippets.code-snippets
  vsc-extension-quickstart.md
Labels: :ok_hand: code/approved, frontend

#2 chore: add prettier and vscode config [no issue]
  .editorconfig
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  CHANGELOG.md
  README.md
  package.json
  snippets/snippets.code-snippets
  snippets/typescript.code-snippets
  vsc-extension-quickstart.md
  yarn.lock
Labels: :ok_hand: code/approved, :soon: automerge, frontend

#3 ci: add initial workflow [no issue]
  .github/workflows/push.yml
  package.json
Labels: :ok_hand: code/approved, :soon: automerge, frontend

#4 ci: release workflow [no issue]
  .github/workflows/release.yml
  README.md
  images/logo-512x512.png
  package.json
  yarn.lock
Labels: :ok_hand: code/approved, :soon: automerge, frontend

#7 ci: use release-please [no issue]
  .github/workflows/release.yml
Labels: :ok_hand: code/approved, :soon: automerge, frontend

#5 feat: add kitt snippets [no issue]
  .vscode/launch.json
  README.md
  package.json
  snippets/kitt-css.code-snippets
  snippets/kitt.code-snippets
Labels: :ok_hand: code/approved, cop, frontend

#6 feat: add generic and react snippets [no issue]
  README.md
  package.json
  snippets/modules.code-snippets
  snippets/react.code-snippets
  snippets/typescript.code-snippets
Labels: :ok_hand: code/approved, :soon: automerge, frontend

#9 chore: prettier ignore changelog [no issue]
  .prettierignore
Labels: :ok_hand: code/approved, :soon: automerge, frontend
